{
  "presets": [
    "react",
    "stage-0",
    "es2015",
    ["env", { "targets": { "browsers": ["last 2 versions"] } }]
  ],
  "plugins": [
    "transform-class-properties",
    "transform-runtime",
    "transform-object-rest-spread",
    [
      "css-modules-transform",
        {
          "extensions": [".less"],
          "generateScopedName": "[sha512:hash:base64:7]"
        }
    ]
  ]
}
